header {
  background-color: #333333;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 24px;
  font-weight: 600;
  color: white;
}
h2 {
  font-size: 18px;
  font-weight: 600;
}
p {
  font-size: 14px;
  word-wrap: break-word;
}
strong {
  font-weight: 600;
}
.wrapper {
  max-width: 70%;
  /* height: 92vh; */
  margin: 0 auto;
}
.jobs {
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: flex-start; */
  /* align-content: flex-start; */
}
.job {
  width: calc(20vw - 30px);
  /* height: calc(100% / 3 - (40px / 3)); */
  /* width: 200px; */
  /* flex-shrink: 1; */
  height: calc(25vh - 30px);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 4px solid black;
  padding: 10px;
}
.job-red {
  /* border: 2px solid red; */
  border-color: #e30313;
}
.job-green {
  border-color: #3ea535;
}
.job-yellow {
  border-color: #fff241;
}
.job-blue {
  border-color: #069fe2;
}
.job-pink {
  border-color: #f7c5af;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .job {
    width: calc(30vw - 30px);
    /* height: calc(100% / 3 - (40px / 3)); */
    /* width: 200px; */
    /* flex-shrink: 1; */

    /* height: calc(25vh - 30px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: 4px solid black;
    padding: 10px; */
  }
  footer {
    position: static;
    /* bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #dddddd;
    display: flex;
    justify-content: center;
    align-items: center; */
  }
}
